<!DOCTYPE html>
<html>
    <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    </head>
    <body>
        <h1>Welcome to example.com, <%= @guest.name %></h1>
    <p>
        You have successfully signed up to example.com,
        your security code is: <%= @security_code %>.<br>
        you will need this security code every time you want to log into this guest account.
        We will not store payment information. If you want the full experience, please create an account here.
    </p>
    <p>
        To confirm this is you, please click this link: <a href=<%= "#{@redirect_path}/guest/#{@token}"%> > Authenticate </a>
    </p>
    <p>Thanks for joining and have a great day!</p>
    </body>
</html>